.card{
    display: flex;
    flex-direction: column;
    width: 210px;
    padding: 30px;
    gap: 14px;
    border-radius: 40px;
    border: 1px solid #F3F3F3;
    transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;

    &:hover{
      box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.06);
      transform: translateY(-5px);
    }

    .favorite{
      position: absolute;
      cursor: pointer;
    }

    h5{
      font-size: 14px;
      font-weight: 400;
    }

    .cardInfo{
      display: flex;
      justify-content: space-between;
      align-items: center;

      .cardPrice{
        display: flex;
        flex-direction: column;
        
        span{
          margin: 0;
          font-size: 12px;
          text-transform: uppercase;
          opacity: 0.5;
          font-weight: 500;
          color: #BDBDBD;
        }
  
        b{
          font-size: 14px;
          font-weight: 700;
        }
      }

      .cardPlus{
        cursor: pointer;
      }
    }
  }